
<h1>Rock, Paper, Scissors</h1>

<h2>You chose: <%=@user_play.capitalize%></h2>
<img src="/<%=@outcome.user_img%>"/>
<h2>Computer chose: <%=@computer_play.capitalize%></h2>
<img src="/<%=@outcome.comp_img%>"/>
<h2>Winner: <%=@outcome.result.capitalize%></h2>
